.container {
    width: 300px;
    height: 250px;
    background-color: #598392;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap: 25px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.errorContainer {
    color: #ff0000;
    border-left: 2px solid #ff0000;
    border-right: 2px solid #ff0000;
    /*border-left: 2px solid #e76f51;*/
    /*border-right: 2px solid #e76f51;*/
}

.value {
    font-weight: bold;
    font-family: "American Typewriter", sans-serif;
    font-size: 60px;
    color: white;
}

.text {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.error {
    /*color: #e76f51;*/
    color: #ff0000;
    animation: flash 1s linear infinite;
}

.end {
    color: #e76f51;
}

@keyframes flash {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
