* {
    box-sizing: border-box;
    font-family:"American Typewriter", sans-serif;
}
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: #131e2b;
}
